<div class="welcome">
	<% if @role == 'server' %>
		<h3>My hostname is:</h3>
		<h1><%= @my_hostname %></h1>
	<% else %>
		<h3>Where is the server?</h3>
		<p>(look at the big screen!)</p>
		<%= form_for :server, :url => welcome_path do |f| %>
			<% unless @other_servers.count == 0 %>
			<fieldset>
				<label>Recent hosts: </label>
				<% @other_servers.each do |server| %>
					<div>
						<%= link_to server.hostname, '#', :onclick => "set_field('server_hostname', '#{server.hostname}'); return false;" %>
					</div>
				<% end %>
			</fieldset>
			<% end %>
				<%=	f.label :hostname %>
				<%=	f.text_field :hostname %>
			</fieldset>
			<%= f.submit "FIIIIIIGHT!" %>

		<% end %>
	<% end %>
</div>