<% [@fox_board, @badger_board].compact.each do |board| %>
	<table class="board" id="<%= board.server.current_role %>_board">
		<%(0..board.height - 1).each do |row_number|%>
			<tr>
			<%(0..board.width - 1).each do |column_number|%> 
				<% contents = board.get_cell(column_number, row_number) %>
				<td> 
					<div class="cell_padding">
						<% if board.recent_shots[0] == [column_number, row_number] %>
							<%= image_tag 'crosshairs.png', :class => "crosshairs" %>
						<% end %>
						<% if contents.nil? %>
							<%= image_tag "board_empty.png"%>
						<%else %>
							<%= image_tag "board_#{contents}.png" %>
						<% end %>
					</div> 
				</td>
			<% end %>
			</tr>
		<% end %>
	</table>
<% end %>

<% if @winner %>
	<%= image_tag "#{@winner.current_role}wins.png", :class => "winner_notification" %>
	<p class='timer'> Restarting in <%= @timer %> </p>
<% end %> 




<script type="text/javascript">
 	$(document).ready(function() {
 		var refresh = function() {
		<% if @timer.nil? || @timer > 0 %> 
 			window.location = window.location;
	 	<% else %>
 			window.location = "<%= new_welcome_path(:server => {:current_role => :server }) %>";
	 	<% end %>
 		}
 		setTimeout(refresh, 500);
 	});
 </script>