<!DOCTYPE html>

<html>
	<head>
		<title> Battle Critters </title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>

	<body class="<%= params[:controller] %>_controller">
		<div>
			<%= image_tag "badger.png", :class => "badger" %>
			<%= image_tag "fox.png", :class => "fox"%>
			<%= image_tag "moon.png", :class =>"moon"%>
			<header>Battle Critters</header>
			<nav>
				<div class="team">Your installation's role is <%= @my_team %></div>
				<div class="hostname">Your uuid is <%= @uuid %></div>
			</nav>
			<main>
				<%= yield %>
			</main>
			<div class="grass">
			</div>
		</div>
	</body>
</html>
